.login_main{
    flex:1;
    color: white;
}
.login_1:hover{
    opacity: 1;
    cursor: pointer;

}
.login_2:hover{
    opacity: 1;
    cursor: pointer;
}
.login_1{
    opacity: 0.7;
}
.login_2{
    opacity: 0.7;
}
.icon_main{
    color: white;
}
.icon_main div{
    width: 30px;
    height: 30px;
    flex: 1;
    padding-left: 4px;
    margin-left: 10px;
    padding-top: 2px;
}
.icon_main div i:hover{
    transform: scale(1.5);
    color:red;
    cursor: pointer;
}
